@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.example-card {
  max-width: 500px;
}

.incoming_message {
  // max-width: 500px;

  // width: 500px;
  // float: right;
  // padding: 10px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.column {
  float: left;
  // width: 50%;
}
// divx {
//   flex: 50%;
//   border-radius: 10px;
//   padding: 10px;
// }

.mycard {
  flex: 50%;
  border-radius: 10px;
  padding: 10px;
}

.mycardin {
  // flex: 100%;
  // border-radius: 30px;
  padding: 5px;
  padding-right: 30%;
}

.mycardout {
  // flex: 100%;
  // border-radius: 30px;
  padding: 5px;
  padding-left: 30%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/**  Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: orange;
}
*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}
